.header{

}
.service{
  font-family: Arial,Havletica,sans-serif;
  border-collapse: collapse;
  width: 100%;
  td,th{
    border: 1px solid #dddddd;
    padding: 8px;
  }
  th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04aa6d;
    color: #ffffff;
  }
  tr:nth-child(even){
    background-color: #c7c7c7;
  }
  tr:hover{
    background: #dddddd;
  }
}
//table{
//  width: 100%;
//}
//table,th,td{
//  border: 1px solid black;
//}