.wrapper{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 2;
  visibility: hidden;
}
.overlayVisible{
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  .sidebar{
   transform: translateX(0);
  }

}
.sidebar{
  width: 80%;
  background-color: #f1f1f1;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
  padding: 30px;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
}
.header{
  position: fixed;
}